# Data Preparation
---

In [1]:
import pandas as pd

pd.set_option('display.max_rows', 10)

In [2]:
page2page_df = pd.read_csv('../data/input/page-to-page_edges.csv')
user2page_df = pd.read_csv('../data/input/randomized_nodes_filtered - Nodes Data.csv')

In [3]:
page2page_df.info()
page2page_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start node  292 non-null    object
 1   End node    292 non-null    object
 2   Type        292 non-null    object
dtypes: object(3)
memory usage: 7.0+ KB

            Start node                 End node       Type
0  TripTH ทริปไทยแลนด์              Gluta Story  page-page
1  TripTH ทริปไทยแลนด์        บันทึกคนขี้เที่ยว  page-page
2  TripTH ทริปไทยแลนด์  จ ะ เ ที่ ย ว ไ ป ไ ห น  page-page
3  TripTH ทริปไทยแลนด์              อาสาพาไปหลง  page-page
4  TripTH ทริปไทยแลนด์                Pigkaploy  page-page

In [4]:
user2page_df.info()
user2page_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6956 entries, 0 to 6955
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Page    6956 non-null   object
 1   User    6956 non-null   object
dtypes: object(2)
memory usage: 108.8+ KB

                   Page       User
0       Bliss Out There  node00001
1          I Roam Alone  node00001
2                ReReef  node00001
3  Unseen Tour Thailand  node00001
4            เที่ยววนไป  node00001

In [5]:
user2page_df['User'].nunique()

2210

In [6]:
col_names = ['start_node', 'end_node', 'edge_type']
page2page_df.columns = col_names

In [7]:
user2page_df['edge_type'] = 'user-page'
user2page_df.columns = ['end_node', 'start_node', 'edge_type']

In [8]:
edges_df = pd.concat([page2page_df, user2page_df], axis=0)
edges_df

                start_node                 end_node  edge_type
0      TripTH ทริปไทยแลนด์              Gluta Story  page-page
1      TripTH ทริปไทยแลนด์        บันทึกคนขี้เที่ยว  page-page
2      TripTH ทริปไทยแลนด์  จ ะ เ ที่ ย ว ไ ป ไ ห น  page-page
3      TripTH ทริปไทยแลนด์              อาสาพาไปหลง  page-page
4      TripTH ทริปไทยแลนด์                Pigkaploy  page-page
...                    ...                      ...        ...
6951          Non Nuttawat      Sneak out หนีเที่ยว  user-page
6952  Praew Phattharaphorn      Sneak out หนีเที่ยว  user-page
6953       Thiprada Thipda      Sneak out หนีเที่ยว  user-page
6954        Bobby Panturat      Sneak out หนีเที่ยว  user-page
6955               Roc Jet      Sneak out หนีเที่ยว  user-page

[7248 rows x 3 columns]

In [9]:
edges_df = edges_df.drop_duplicates()
print(f"Number of edges after removing duplicates: {len(edges_df)}")

Number of edges after removing duplicates: 7239

In [10]:
edges_df['edge_type'].value_counts()

edge_type
user-page    6956
page-page     283
Name: count, dtype: int64

In [11]:
edges_df['end_node'].value_counts()

end_node
I Roam Alone                                                612
TripTH ทริปไทยแลนด์                                         588
Unseen Tour Thailand                                        404
Sneak out หนีเที่ยว                                         350
Go Went Go                                                  311
                                                           ...
Surron BKK                                                    1
Sky View cafe AT จันทบุรี                                     1
Rub Nam Khao สินค้าญี่ปุ่น เกาหลี เมกา By Warriorcamp168      1
Rivers Drinkware Thailand                                     1
Pichit89                                                      1
Name: count, Length: 188, dtype: int64

In [12]:
edges_df.to_csv('../data/checkpoint/edges_v3.csv', index=False)